/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

#zone-preface{
	padding-top: 105px;
	background-image: url("../images/preface_bg_normal.png");
}

#region-preface-first .block {
	margin-left: 36px;
}

#region-postscript-third {
	padding-top: 180px;
	padding-bottom: 180px;
}

/********Header section****************************************/
/*
*	#block-menu-menu-header-menu
*/
#block-menu-menu-header-menu .menu li{

}
#block-menu-menu-header-menu .menu li a{
	font-size: 16px;
}
/**
*	Site name block
*/
#block-block-1{

}

/*
*	.bean-carousel-block block
*/
.bean-carousel-block .field-name-field-subheading{
	font-size: 46px;
}
.bean-carousel-block .field-name-field-description{
	font-size: 14px;
} 
.bean-carousel-block .field-name-field-cta-link{
	margin-top: 40px;
}


#views_slideshow_controls_text_custom_bean-block{
	background: url("../images/previous_next_bg_normal.png") no-repeat 0 0 transparent;
	height: 47px;
	width: 80px;
}

#views_slideshow_controls_text_previous_custom_bean-block,
#views_slideshow_controls_text_next_custom_bean-block{
	width: 33px;
	height: 18px;
	background: url("../images/previous_normal.png") no-repeat 0 0 transparent;
}
#views_slideshow_controls_text_next_custom_bean-block{
	background: url("../images/next_normal.png") no-repeat 0 0 transparent;
	margin-left: 46px;
	margin-top: 11px;
}
#views_slideshow_controls_text_previous_custom_bean-block:hover{
	background: url("../images/previous_hover_normal.png") no-repeat 0 0 transparent;	
}
#views_slideshow_controls_text_next_custom_bean-block:hover{
	background: url("../images/next_hover_normal.png") no-repeat 0 0 transparent;	
}


/*
*	CTA link styling
**/
.cta-link a, .field-type-link-field .field-item a{
	padding: 8px 33px 6px;
	font-size: 16px;
}
/**
*	Arrow right button
***/
a.arrow_right{
	font-size: 14px;
}
/*
*	quote left
**/
.quote_left{
	background-image: url("../images/quote_left_normal.png");
	padding: 8px;
	margin-left: -26px;
}

/**
*	Quote right
**/
.quote_right{
	background-image: url("../images/quote_right_normal.png");
}
/**
*	Upload button
**/
.form-managed-file input.form-file{
	width: 70%;
}



/**
*	Image block
**/
.block-bean-image-block .field-name-field-subheading{
	font-size: 30px;
}
#block-views-custom-bean-block {
	min-height: 330px;
}
.block-bean-image-block .field-name-field-description{
	height: 125px;
	font-size: 14px;
}

/**
*	Basic Page node
***/
.node-page .field-name-field-subheading, .node-webform .field-name-field-subheading {
	font-size: 32px;
	margin-bottom: 40px;
}

/**
*	Services block
**/
#quicktabs-view__custom_contents__block{
	background-image: url("../images/homeline4_normal.png");
	background-position: 0px 6px;
}
.block .block-title,
#block-views-custom-contents-block .block-title{
	font-size: 20px;
}
.block .view-header,
#block-views-custom-contents-block .view-header{
	font-size: 32px;
}
#block-views-custom-contents-block .quicktabs-tabs li a{
	font-size: 19px;
}
#block-views-custom-contents-block .quicktabs-tabpage {
	padding: 52px 48px 10px;
}
#block-views-custom-contents-block .quicktabs-tabpage .views-field-nothing .field-content .custom_content_wrapper.left{
	font-size: 22px; 
}
#block-views-custom-contents-block .quicktabs-tabpage .views-field-nothing .field-content .custom_content_wrapper.right{
	font-size: 14px;
}


/**
*	Multi heading block
*/
.block-bean-multi-heading-block{

}
.block-bean-multi-heading-block .field-name-field-subheading-medium{
	font-size: 29px;
	margin-bottom: 16px;
}
.block-bean-multi-heading-block .field-name-field-subheading{
	font-size: 45px;
	margin-bottom: 12px;
}
.block-bean-multi-heading-block .field-name-field-description{
	font-size: 13px;
	line-height: 150%;
	width: 80%;
}
.block-bean-multi-heading-block .field-name-field-description p{
	margin-bottom: 12px;
}
/**
*	Career - job posting page
**/
.page-careers #region-content  .region-content-inner,
.page-node.node-type-job-posting #region-content  .region-content-inner{
	background: url("../images/node_career_bg_normal.png") no-repeat 0  0 transparent;
	padding: 28px 4% 28px;
}
.logged-in.page-node.node-type-job-posting #region-content .region-content-inner{
	background: url("../images/node_career_bg_normal.png") no-repeat 0  98px transparent;	
}
.page-node.node-type-job-posting #region-content .node-job-posting .field .field-label,
.page-node.node-type-job-posting #region-content .node-job-posting .field-name-field-the-company{
	font-size: 30px;
}

.page-node.node-type-job-posting #region-content .node-job-posting .field .field-items{
	font-size: 14px;
}
.page-node.node-type-job-posting #region-content .node-job-posting .info_box{
	width: 35%;
}
.page-node.node-type-job-posting #region-content .node-job-posting .info_box .field .field-label{
	margin-right: 8px;
}
.page-node.node-type-job-posting #region-content .node-job-posting .info_box .field .field-label,
.page-node.node-type-job-posting #region-content .node-job-posting .info_box .field .field-items{
	font-size: 13px;
	line-height: 140%;
}

/**
*	careers page
**/

.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row{
	padding: 10px 15px 20px;
	margin-bottom: 20px;
}
.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row .label{
	margin-right: 10px;
}
.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row .left{
	width: 60%;
	margin-right: 5%
}
.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row .right{
	width: 35%;
	font-size: 13px;
	line-height: 130%;
}
.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row .job_position{
	font-size: 18px;
}
.page-careers #region-content .view-id-custom_contents.view-display-id-page_1 .views-row .job_description{
	font-size: 13px;
}

/*
*	Webform page node
**/
.page-node.node-type-webform #region-content .region-content-inner{
	background: url("../images/node_webform_bg_normal.png") no-repeat 0  0 transparent;
	padding: 44px 4%;
}